.fa {
  font-size: 25px;
}

.checked {
  color: orange;
}

.color-dark-green{
	color: darkgreen;
}
.color-green{
	color: lightgreen;
}
.color-orange{
	color: orange;
}
.color-yellow{
	color: yellow;
}
